/* App.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #321006;
  overflow-x: hidden;
}

.app-container {
  background-color: #321006;
  height: 100vh;
}

.header {
  animation: fadeIn 2s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  color: #F0EAD6;
  font-weight: 600;
  font-size: 1.2rem;
}

.logo-text-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 150px;
  width: auto;
}

.logo-text {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.main-content {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #321006;
}

.instagram-link {
  cursor: pointer;
  display: inline-block;
}

.instagram-logo {
  display: inline-block;
  padding: 8px;
  border-radius: 32px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instagram-logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}


.instagram-svg {
  width: 130px;
  height: 130px;
  fill: #F0EAD6;
}

p{
  margin: 0;
  font-weight: 500;
}

.text-header {
  font-size: 22px;
  margin-bottom: -4px;
}

.text-subheader {
  font-size: 16px;
}

.watermark {
 position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;   
  height: 100vh;     
  max-width: none;
  max-height: none;
  opacity: 0.03;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  z-index: 0;
}
